html {
    box-sizing: border-box;
    font-size: 62.5%; /* This sets 1rem to 10px */
    background-color: #000; /* Black background */
    color: #e4e4e7; /* Slate 100 text color */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 1.6rem; /* This sets the default font size to 16px */
  }
  
  /* Navigation */
  .navbar {
    background-color: #1f2937; /* Gray 800 */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .navbar a:not(:first-child) {
    display: none;
  }
  
  .navbar a {
    float: left;
    color: #e4e4e7; /* Slate 100 */
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.8rem;
  }
  
  .navbar a.active-link {
    background-color: #7c3aed; /* Purple 500 */
    color: #e4e4e7; /* Slate 100 */
  }
  
  .navbar a.menu-icon {
    float: right;
    display: block;
  }
  
  .navbar.responsive {
    position: fixed;
  }
  
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .navbar.responsive a.menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .menu-icon div {
    width: 2.5rem;
    height: 0.3rem;
    background-color: #e4e4e7; /* Slate 100 */
    margin: 0.4rem 0;
  }
  
  /* Header */
  header {
    padding: 5rem 3.5rem;
    text-align: center;
    color: #e4e4e7; /* Slate 100 */
    font-weight: 500;
    font-size: 1.8rem;
  }
  
  .main-header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image: url('images/avatar-background.jpg'); /* Replace with your image file */
  }
  
  .main-title {
    font-size: 3.5rem;
    padding-top: 3rem;
  }
  
  @media screen and (min-width: 769px) {
    header {
      padding: 8rem;
      font-weight: 500;
      font-size: 2.2rem;
    }
  
    .main-title {
      font-size: 6rem;
    }
  }
  
  /* Sections */
  section {
    padding: 5rem;
  }
  
  .info-title {
    font-size: 3rem;
    position: relative;
  }
  
  /* Cards */
  .team-card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .team-card {
    background-color: #1f2937; /* Gray 800 */
    padding: 2rem;
    border-radius: 1.5rem;
    flex-direction: column;
    color: #e4e4e7; /* Slate 100 */
    box-shadow: 0 4px 8px rgba(124, 58, 237, 0.5); /* Purple 500 shadow */
  }
  
  .team-image {
    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area */
    border-radius: 1rem;
  }
  
  .card-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2rem;
    color: #e4e4e7; /* Slate 100 */
    background-color: #7c3aed; /* Purple 500 */
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
  }
  
  .card-btn:hover {
    background-color: #6d28d9; /* Purple 600 */
  }
  
  /* Blog Section */
.blog-section {
    background-color: #1f2937; /* Gray 800 */
    color: #e4e4e7; /* Slate 100 */
  }
  
  .date-text {
    color: #9ca3af; /* Gray 400 */
    font-weight: 100;
  }
  
  .blog-article-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .blog-entry img {
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 1rem; /* Rounded corners */
    border: 1px solid #e4e4e7; /* 1px border with Slate 100 color */
  }
  
  /* Contacts */
  input[type="text"],
  input[type="email"],
  input[type="tel"], 
  textarea {
    display: block;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    padding: 2rem;
    width: 100%;
    font-size: 1.4rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 2rem #374151; /* Gray 700 */
    border: 1px solid #e4e4e7; /* Slate 100 stroke */
    outline: 0 none;
    background-color: #1f2937; /* Gray 800 */
    color: #e4e4e7; /* Slate 100 */
  }
  
  input:focus,
  textarea:focus {
    background-color: #312e81; /* Indigo 800 */
    border: 0.2rem solid #e4e4e7; /* Purple 500 */
    color: #e4e4e7; /* Slate 100 text color on focus */
}
  .btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2rem;
    color: #e4e4e7; /* Slate 100 */
    background-color: #7c3aed; /* Purple 500 */
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #6d28d9; /* Purple 600 */
  }
  
  .map-wrapper {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    width: 100%;
    margin-bottom: 3rem;
  }
  
  .map-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem; /* Rounded corners */
  }
  
  
  
  
  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  @media screen and (min-width: 769px) {
    .team-card-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 1%;
    }
  
    .team-card {
      margin-top: 1%;
      flex: 49%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .blog-article-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 5%;
    }
  
    .blog-entry {
      margin-top: 1%;
      flex: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;
    }
  
    .contact-container {
      display: flex;
      flex-direction: row;
      gap: 5%;
    }
  
    .map-wrapper {
      flex: 45%;
      padding-bottom: 0;
    }
  
    .form-wrapper {
      flex: 45%;
    }
  }
  
  @media screen and (min-width: 1025px) {
    .team-card-container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 1%;
    }
  
    .team-card {
      flex: 25%;
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
    }
  
    .btn,
    input[type="submit"] {
      width: 100%; /* Make the submit button take the full width */
    }
  }
  
  /* General section styling */
section {
    padding: 5rem;
  }
  
  .info-title {
    font-size: 3rem;
    position: relative;
    margin-bottom: 2rem;
  }
  
  .info-title i {
    margin-right: 1rem;
  }
  
  /* Footer specific styling */
  footer {
    background: #1f2937; /* Gray 800 */
    color: #e4e4e7; /* Slate 100 */
    padding: 5rem 2rem;
    padding-bottom: 0rem; /* Padding for top and bottom */
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
    gap: 2rem;
    padding: 0 2rem; /* Side padding */
    margin: 0 auto; /* Center the content */
    width: 100%; /* Full width */
  }
  
  .footer-section {
    flex: 1;
    padding: 1rem;
    text-align: center; /* Center text by default */
  }
  
  .footer-section.about {
    text-align: left; /* Left-align text for about section */
  }
  
  .footer-section.footer-links {
    text-align: right; /* Right-align text for links section */
  }
  
  .footer-logo-text {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .footer-contact {
    margin: 1rem 0;
  }
  
  .footer-contact span {
    display: block;
    margin: 0.5rem 0;
  }
  
  .footer-socials a {
    margin: 0 0.5rem;
    color: #7c3aed; /* Purple 500 */
  }
  
  .footer-socials a:hover {
    color: #6d28d9; /* Purple 600 */
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin: 0.5rem 0;
  }
  
  .footer-links ul li a {
    color: #e4e4e7; /* Slate 100 */
    text-decoration: none;
  }
  
  .footer-links ul li a:hover {
    color: #7c3aed; /* Purple 500 */
  }
  
  .footer-bottom {
    background: #111827; /* Gray 900 */
    color: #e4e4e7; /* Slate 100 */
    padding: 1rem 2rem; /* Padding for top, bottom, and sides */
    text-align: center;
    font-size: 1.2rem;
    width: 100%; /* Full width */
    margin: 0 auto; /* Center the footer-bottom */
  }
  
  